.headerText{
    padding: 0px 0px 0px 35%;
}
.login-page{ display: grid;
    gap: 7rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}
.loginPageImage{
    margin: 40px 0px 0px 20%;
}
.label{
    display: block;
    margin: 7px 0px 5px 0px;
    font-size:medium;
}
.inputBox{
    width: 29.2rem;
    height: 35px !important;
    border: 1px solid rgb(189, 181, 181) !important;
    border-radius: 3px;
    padding-left: 10px;
    outline: none;
}
.inputBox:focus{
    outline: none;
    border: 1px solid whitesmoke;
}
.right-login{
    margin-top: 20%;
}
.studentRegisterLink{
    color: green;
    padding-top: 5px;
    padding-left: 15px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 11rem;
    font-size: 13px;
}
.forgetPassLink{
    color: rgb(231, 57, 57);
    margin-left: 3%;
    cursor: pointer;
    text-decoration: none;
    font-size: 13px;
}
.submitLoginBtn{
    display: block !important;
    margin-top: 10px !important;
    width: 7.1rem;
    height: 35px;
    text-transform: capitalize !important;
    font-size: medium !important;
    border-top-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}